<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Flask and crawl data newspaper</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
</head>

<body>
    <form action="/" method="POST">
        <input type="text" placeholder="Input here ..." name="search" required>
        <input type="submit" value="Search">
    </form>

    <br>

    {% if records | length != 0 %}
    <table>
        {% for record in records %}
        <tr>
            <td>
                <b>{{ record[0] }}</b> 
                (<a href="{{ record[1] }}" target="_blank">Link</a>)
            </td>
            <td><img src="{{ record[2] }}" alt="Image"></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div>No search results.</div>
    {% endif %}
</body>

</html>